<h2>Notes:</h2>
<div>
  <% @entries.each do |entry| %>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Note #<%= entry.id %></h5>
          <p class="card-text"><%= entry.message %></p>
          <p class="card-text">Due <%= entry.due %></p>
          <%= link_to "View",
                      entry_path(entry),
                      :class => "btn btn-primary" %>
          <%= link_to "Edit",
                      edit_entry_path(entry),
                      :class => "btn btn-primary" %>
          <%= link_to "Delete",
                      entry,
                      :class => "btn btn-primary",
                      data: {
                        turbo: true,
                        turbo_method: :delete,
                        turbo_confirm: "Are you sure you want to delete this note?"
                      } %>
        </div>
      </div>
  <% end %>
</div>
